@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
  font-family: Adobe Clean;
  src: url('../public/AdobeClean-Regular.otf');
}
@font-face {
  font-family: Asar;
  src: url('../public/Asar Regular.ttf');
}

@import './variables';
@import './mobile.scss';


* {
  font-family: Source Sands Pro
}

h1 {
  font-family: Bebas Neue;
}
h2, h3, h4, h5, h6 {
  font-family: Asar, 'Times New Roman', Times, serif;
  line-height: 1.2;
}



html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  height: 100vh;
  width: 100%;
}

#__next {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  background-color: $yellow;
  color: black;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px;
}

.page {
  overflow: hidden;
  margin: auto;
}

.button {
  &.size-s {
    font-size: 12px;
  }
  &.size-m {
    font-size: 16px;
  }
}

.test {
  width: 100%;
  height: 100%;
}

.yellowBox {
  font-family: Bebas Neue;
  background-color: $yellow;
  padding: 6px;
  text-transform: uppercase;
}

.menuWrapper {
  z-index: 100;
  
  .menuList {
    list-style: none;
    text-align: right;

    .menuListItem {
      border-right: 2px solid black;
      padding: 8px 6px;
      font-weight: 400;
      letter-spacing: 0.28px;
      font-family: Source Sans Pro;
      text-transform: uppercase;
      font-size: 14px;
      transition: all 0.3s ease-in-out;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      
      &:hover, &:focus, &.active {
        transition: all 0.3s ease-in-out;
        font-size: 18px;
        letter-spacing: 0.36px;
        border-right: 4px solid black;
        padding-right: 5px;
        margin-right: -1px;
        font-weight: 600;
      }
      &.active {
        cursor: default;
      }
    }
  }
}

.logoText {
  font-size: 48px;
  font-weight: 600;  
  letter-spacing: 2px;
}
.darkPanel .logo {
  filter: invert(100%);
}
.arrowButton {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;

  svg {
    margin-top: 2px;
    fill: black;
  }
}
.accountLink {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
.accountIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;

  img {
    object-fit: cover;
    min-width: 140%;
    min-height: 140%;
  }
}

.header {
  font-family: Bebas Neue;
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  padding: 0 12.5%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    font-size: 48px;
  }
  
  .middle {
    display: flex;
    gap: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    a h4 {
      font-family: Source Sans Pro;
      letter-spacing: 0.28px;
      font-size: 14px;
      font-weight: 600;
    }
  }
  
  .right {
    display: flex;
    align-items: center;
    span {
      font-family: Source Sans Pro;
      letter-spacing: 0.28px;
      font-size: 14px;
      font-weight: 600;
    }
    .accountIcon {
      margin-right: 0;
    }
  }
}
.darkPanel {
  color: white;
  .menuWrapper .menuList .menuListItem {
    border-color: white;
  }
  .arrowButton svg {
    fill: white;
  }
}


.layerImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  &.debug {
    border: 2px solid crimson;
  }
  
  &.showOverflow {
    overflow: visible;
    > .image {
      overflow: visible;
      z-index: 100;
    }
  }
  &.hideOverflow {
    overflow: hidden;
  }
  
  .image {
    position: absolute;
    object-fit: contain;
  }

  &.cover  .image {
    object-fit: cover;
    width: 100%;
  }
  &.contain .image {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }


  align-items: center;
  justify-content: center;
  &.top-left{align-items: flex-start;justify-content: flex-start;}
  &.top-center{align-items: flex-start;justify-content: center;}
  &.top-right{align-items: flex-start;justify-content: flex-end;}
  &.center-left{align-items: center;justify-content: flex-start;}
  &.center-right{align-items: center;justify-content: flex-end;}
  &.bottom-left{align-items: flex-end;justify-content: flex-start;}
  &.bottom-center{align-items: flex-end;justify-content: center;}
  &.bottom-right{align-items: flex-end;justify-content: flex-end;}
}

.textLayer {
  height: 100%;
  width: 100%;
  padding: 0 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  white-space: pre-line;

  .h2 {
    font-size: 60px;
    @media screen and (max-width: 800px) {
      font-size: 40px;
    }
    // font-family: Source Serif Pro;
    font-family: Asar, 'Times New Roman', Times, serif;
    // &.S {font-size: 36px;}
    // &.XS {font-size: 26px;}
  }
  .h3 {
    font-size: 34px;
    // font-family: Source Serif Pro;
    font-family: Asar, 'Times New Roman', Times, serif;
    // &.S {font-size: 28px;}
    // &.S {font-size: 18px;}
  }
  .thin {
    font-weight: 400;
  }
  .bold {
    font-weight: 700;
  }
  .sourceSerif {
    font-family: Source Serif Pro;
  }
  .yellowBox {
    color: black;
    font-family: Source Sans Pro;
    letter-spacing: 0.4px;
    
    &.h2{font-size: 18px;}
    &.h3{font-size: 14px;}
  }
  
  .left, .right {
    width: 50%;
    display: flex;
    flex-direction: column;

  }
  .left {
    // justify-content: start;
    align-items: flex-start;
    gap: 20px;

  }
  .right {
    align-items: flex-end;
  }

  .columnWrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 5% 35%;
    &.noPadding {padding: 5% 10%;}
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    &.top-left{justify-content: flex-start;align-items: flex-start;}
    &.top-center{justify-content: flex-start;align-items: center;}
    &.top-right{justify-content: flex-start;align-items: flex-end;}
    &.center-left{justify-content: center;align-items: flex-start;}
    &.center-right{justify-content: center;align-items: flex-end;}
    &.bottom-left{justify-content: flex-end;align-items: flex-start;}
    &.bottom-center{justify-content: flex-end;align-items: center;}
    &.bottom-right{justify-content: flex-end;align-items: flex-end;}
  }

  .span {
    color: $gray;
    font-size: 14px;
    font-family: Source Sans Pro;
    &.L {font-size: 18px;}
  }

  .bold {
    font-weight: 600;
  }
  .white {
    color: white;
  }
  .alignCenter {
    text-align: center;
  }
  

  .uppercase {
    text-transform: uppercase;
  }

  .yellowButton {
    font-size: 14px;
    padding: 12px 16px;
    font-weight: 600;
    font-family: Source Sans Pro;
  }
  .darkButton {
    font-family: Source Sans Pro;
    font-size: 14px;
    padding: 16px 40px;
    font-weight: 600;
    color: white;
    background-color: $dark;
  }
}

.wrapperForRatio {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.pointTextLayer{
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  
  
  .pointTextItemWrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 2px;
    height: 2px;
    
    .textWrapper {
      width: 150px;
      margin-bottom: 20px;
      background-color: $blue;
      padding: 4px 12px;
      color: white;
      border-radius: 4px;
      position: relative;
      cursor: pointer;
      
      .text {
        font-family: Source Sans Pro;
        transition: all .3s ease-in-out;
        opacity: 1;
      }
      .buyText {
        position: absolute;
        text-align: center;
        padding: 0px 4px 3px 4px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        width: 90%;
        border: 2px solid white;
        border-radius: 999px;
        background-color: $blue;
        
        transition: all .3s ease-in-out;
        opacity: 0;
        > a {font-family: Source Sans Pro;}
      }
    }
    .textWrapper:hover {
      .text {
        opacity: 0;
      }
      .buyText {
        opacity: 1;
      }
    }
    
    .arrow {
      position: absolute;
      top: calc(100% - 1px);
      left: 50%;
      transform: translateX(-50%);
      width: 20px;
      height: 10px;
      clip-path: polygon(50% 100%, 0 0, 100% 0);
      background-color: $blue;
    }
  
    .dot {
      background-color: white;
      border: black solid 2px;
      // margin bot but be minus half of dot radius
      margin-bottom: -7.5px;
      border-radius: 50%;
      width: 15px;
      min-height: 15px;
    }
  }
}


.panel {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.backgroundWrapper {
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  
  .backgroundImage {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .videoIFrame {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  .videoWrapper {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
