html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  height: 100vh;
  width: 100%;
}

#__next {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  background-color: yellow;
  color: black;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px;
}

.button {
  &.size-s {
    font-size: 12px;
  }
  &.size-m {
    font-size: 16px;
  }
}

.test {
  width: 100%;
  height: 100%;
}

.textLayer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  position: absolute;
  z-index: 20;

  .title {
    font-size: 42px;
    white-space: pre-line;
  }
  
  .left, .right {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .left {
    border: 2px solid crimson;
    // justify-content: start;
    align-items: flex-start;
    gap: 20px;
    
    > * {
      border: solid 1px blue;
    }
  }
  .right {
    align-items: flex-end;
  }

  &.reverse {
    .left, .right {
      flex-direction: column-reverse;
    }
  }
}

.menuWrapper {
  // border: 2px solid crimson;
  .menuList {
    list-style: none;
    text-align: right;

    .menuListItem {
      border-right: 2px solid black;
      padding: 8px 6px;
      font-weight: 400;
      // transition: all 0.3s ease-in-out;

      &:hover, &:focus &.active {
        border-right: 4px solid black;
        padding-right: 5px;
        margin-right: -1px;
        font-weight: 600;
      }
    }
  }
}

.page {
  position: relative;
  width: 100%;
  height: 100vh;
}

.backgroundWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // overflow: hidden;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  
  .backgroundImage {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

.layerImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &.debug {
    border: 2px solid crimson;
  }

  &.showOverflow {
    overflow: initial;
  }
  &.hideOverflow {
    overflow: hidden;
  }

  .image {
    position: absolute;
    object-fit: contain;
    // object-position: bottom left;
    width: 100%;
    height: 100%;
  }
}


body {
  min-height: 300vh;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
